
      <div class="container">
        <div class="row">
          <div class="footer-top-area">
            <div class="row d-flex flex-wrap justify-content-between">
              <div class="col-lg-3 col-sm-6 pb-3">
                <div class="footer-menu">
                  <img src="static/assets/img/logo.png" alt="logo" width="100">
                  <p>Find a piece of home, no matter how far away, with our selection of authentic products that bring the taste of home to you.</p>

                </div>
              </div>
              <div class="col-lg-3 col-sm-6 pb-3">
                <div class="footer-menu contact-item">
                  <h5 class="widget-title text-uppercase pb-2">Contact Us</h5>
                  <h5>Email</h5>
                    <a href="mailto:" target="_blank">felixinn@gmail.com</a>

                  <h5>SMS/Whatsapp</h5>
                    <a href="https://wa.link/npcyk7"  target="_blank">+784 2584</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>